#homeContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-width: 100%;
    min-height: 100%;
}

#images{
    display: flex;
    flex-direction: row;
    min-width: 100%;
    justify-content: space-around;
}

#imageFrame{
    border: 0.3rem solid darkblue;
    min-width: 15rem;
    min-height: 30rem;
    border-radius: 1rem;
}

#instruction{
    min-width: 100%;
}