#showcase{
    list-style-type: none;
    background-color: rgb(170, 170, 170);
    height: 30rem;
    overflow:auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 0 5px;
  }