#bar {
    padding-top: 1rem;
    text-align: center;
    height: 5rem;
    background-color: dimgray;
    color: white;
}

input {
    width: 20rem;
    border-bottom: 3px solid greenyellow;
    outline: none;
}

button {
    width: 3rem;
    margin-left: 0.5rem;
    background-color: greenyellow;
    color: gray;
}